PROJECT_ROOT=.
# PostgreSQL
POSTGRES_DB=Subscriptions
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
# DATABASE_URL
DATABASE_URL=postgres://CHANGE_ME:CHANGE_ME@localhost:5432/Subscriptions?sslmode=disable
# Goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="user=CHANGE_ME password=CHANGE_ME dbname=Subscriptions host=localhost port=5432 sslmode=disable"
GOOSE_MIGRATION_DIR=./migrations